
<h2 style="margin-top: 5%; font-size: 1.9rem">{{ section.settings.section_title }}</h2>

  <div class="gg-container">
    <div class="gg-box">
    {% for block in section.blocks %}
      <img src="{{ block.settings.gallery_image | img_url: 'large' }}" alt="{{ block.settings.alt_text }}">
    {% endfor %}
    </div>
  </div>

{% schema %}
  {
    "name": "Photo gallery grid row",
    "settings": [
      {
        "type": "text", 
        "id": "section_title", 
        "label": "section title" 
      },
      {
        "type": "checkbox", 
        "default": false,
        "id": "top_gallery", 
        "label": "check if top gallery" 
      },
      {
        "type": "checkbox", 
        "default": false,
        "id": "bottom_gallery", 
        "label": "check if bottom gallery" 
      }
    ],
    "blocks": [
      {
      "type": "image",
      "name": "images",
      "settings": [
          {
            "type": "image_picker",
            "id": "gallery_image",
            "label": "image"
          },
          {
            "type": "text",
            "id": "alt_text",
            "label": "image alt text"
          }        
        ]
      }
    ],
    "presets": [
      {
        "name": "Photo gallery grid"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}