    <div class="collection_description shopify-section">
      <span class="truncate2">
        {{ collection.description }}
      </span>
    </div>

{% schema %}
  {
    "name": "Collection Description",
    "settings": [],
  "presets": [
    {
      "name": "CollectionDescription",
      "category": "Text"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

                            

